In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import torch

In [5]:
df = pd.read_csv('dataset.csv', sep=";")
df.head()

,Context,F1_Central,F1_Mean,F1_F1max,F1_Ampmax,F2_Central,F2_Mean,F2_F1max,F2_Ampmax,Label
0,kced,482,492,508,482,1875,"1896,692308",1942,1875,E
1,kched,508,"486,7777778",508,499,1827,"1829,166667",1962,1875,E
2,kbeb,499,"504,6470588",521,499,1671,"1630,588235",1680,1680,E
3,kbed,499,"496,4210526",508,508,1747,"1708,789474",1751,1732,E
4,kbeg,508,"494,6",508,508,1632,"1669,333333",1845,1602,E